.footer {
    background-color: var(--gray);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer .icons li{
    display: inline-block;
    margin-right: 1rem;
    font-size: 2rem;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
}

