 body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;

    background-image: 
    radial-gradient(circle at left top, var(--primary-color), transparent 25rem),
    radial-gradient(circle at right center, var(--primary-color), transparent 25rem);
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

img {
    max-width: 100%;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    gap: .5rem;
}

.row.contato {
    padding-top: 4rem ;
    padding-bottom: 4rem;
}

.row.testemunhos_wrapper {
    row-gap: 3rem;
}

.row > .sm-12 {
    grid-column: 1 / -1;
}

