.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
}

.testemunho_thumb {
    width: 8.125rem;
    height: 8.125rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contato_image {
    display: none;
}